<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Comments</h1>
    <% for(let comment of comments) { %>
    <p>
      <%= comment.comment %>- <b><%= comment.username %></b>
      <a href="/comments/show/<%= comment.id %>"> view </a>
    </p>
    <%}%>
    <a href="/comments/new">New Comment</a>
  </body>
</html>
