<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Form</h1>
    <form action="http://localhost:3000/comments" method="post">
      Enter name : <input type="text" name="username" id="username" />
      <div>Enter Comment :</div>
      <div>
        <textarea name="comment" id="comment" cols="32" rows="5"></textarea>
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
